<nav class="sidebar p-2 mt-3">
  <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a>

  <a *ngIf="permissionService.canViewAllAccounts()" routerLink="/accounts/list" routerLinkActive="active" class="nav-link">Account List</a>
  <a *ngIf="permissionService.canCreateAccount()" routerLink="/accounts/create" routerLinkActive="active" class="nav-link">Create Account</a>

  <ng-container *ngIf="permissionService.canViewClerkDashboard()">
    <a routerLink="/transactions/deposit" routerLinkActive="active" class="nav-link">Deposit</a>
    <a routerLink="/transactions/withdraw" routerLinkActive="active" class="nav-link">Withdraw</a>
  </ng-container>

  <a *ngIf="permissionService.canViewTransactionHistory()" routerLink="/transactions/history" routerLinkActive="active" class="nav-link">Transaction History</a>

  <a *ngIf="permissionService.canCreateUser()" routerLink="/accounts/clerks" routerLinkActive="active" class="nav-link">Clerk Management</a>
  <a *ngIf="permissionService.canViewApprovalWorkflow()" routerLink="/transactions/pending" routerLinkActive="active" class="nav-link">Pending Approvals</a>
</nav>
